In [58]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup

In [50]:
data= pd.read_csv('D:/Corsera/IBM/10/new.txt')

In [51]:
data

     Rank_2020  Rank_2021       City         Location  Rank_change
0            2          1   Ashgabat     Turkmenistan          1.0
1            1          2  Hong_Kong  Hong_Kong_(SAR)         -1.0
2           45          3     Beirut          Lebanon         42.0
3            3          4      Tokyo            Japan         -1.0
4            4          5     Zurich      Switzerland         -1.0
..         ...        ...        ...              ...          ...
204        190        205   Brasilia           Brazil        -15.0
205        209        206      Tunis          Tunisia          3.0
206        203        207    Tbilisi           Georgi         -4.0
207        201        208     Lusaka           Zambia         -7.0
208        206        209    Bishkek       Kyrgyzstan         -3.0

[209 rows x 5 columns]

In [52]:
df=data.loc[data['Location']=='India']
df

     Rank_2020  Rank_2021       City Location  Rank_change
77          60         78     Mumbai    India        -18.0
116        101        117  New_Delhi    India        -16.0
157        143        158    Chennai    India        -15.0
169        171        170  Bengaluru    India          1.0
180        185        181    Kolkata    India          4.0

In [53]:
df=df.tail(3).reset_index()
df.drop(columns=['Rank_2020','index','Rank_change','Location'],inplace=True)
df['State']=['Tamil Nadu','Karnataka','West Bengal']
df.rename(columns={'Rank_2021':'Mercer_CoL_Rank_2021'})
df

   Rank_2021       City        State
0        158    Chennai   Tamil Nadu
1        170  Bengaluru    Karnataka
2        181    Kolkata  West Bengal

In [54]:
data=pd.read_excel('D:/Corsera/IBM/10/EoDB.xlsx')
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,TABLE 127: STATE-WISE EASE OF DOING BUSINESS RANK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,State/Union Territory,2015,NaN,2016,NaN,2017,NaN,2019
2,NaN,NaN,Score,Rank,Score,Rank,Score,Rank,Rank
3,NaN,Andhra Pradesh,70.12,2,98.78,1,98.3,1,1
4,NaN,Arunachal Pradesh,1.23,32,0.3,31,-,34,29
5,NaN,Assam,14.48,22,14.29,24,84.75,17,20
6,NaN,Bihar,16.41,21,75.82,16,81.91,18,26
7,NaN,Chhattisgarh,62.45,4,97.32,4,97.31,6,6
8,NaN,Goa,21.74,19,18.15,21,57.34,19,24
9,NaN,Gujarat,71.14,1,98.21,3,97.99,5,10
10,NaN,Haryana,40.66,14,96.95,6,98.06,3,16
11,NaN,Himachal Pradesh,23.95,17,65.48,17,87.9,16,7
12,NaN,Jammu and Kashmir,5.93,29,0.3,31,32.76,22,21
13,NaN,Jharkhand,63.09,3,96.57,7,98.05,4,5
14,NaN,Karnataka,48.5,9,88.39,13,96.42,8,17
15,NaN,Kerala,22.87,18,26.97,20,44.82,21,28
16,NaN,Madhya Pradesh,62,5,97.01,5,97.3,7,4
17,NaN,Maharashtra,49.43,8,92.86,10,92.88,13,13
18,NaN,Manipur,-,-,1.19,28,0.27,32,29
19,NaN,Meghalaya,4.38,30,0.3,31,-,34,29
20,NaN,Mizoram,6.37,28,0.89,29,3.66,30,25
21,NaN,Nagaland,3.41,31,1.49,26,14.16,28,29
22,NaN,Odisha,52.12,7,92.73,11,92.08,14,29
23,NaN,Punjab,36.73,16,91.07,12,54.36,20,19
24,NaN,Rajasthan,61.04,6,96.43,8,95.7,9,8
25,NaN,Sikkim,7.23,27,0.6,30,0.14,33,29
26,NaN,Tamil Nadu,44.58,12,62.8,18,90.68,15,14
27,NaN,Tripura,9.29,26,16.67,22,22.45,25,29
28,NaN,Telangana,42.45,13,98.78,1,98.28,2,3
29,NaN,Uttarakhand,13.36,23,96.13,9,94.24,11,11
30,NaN,Uttar Pradesh,47.37,10,84.52,14,92.89,12,2
31,NaN,West Bengal,46.9,11,84.23,15,94.59,10,9
32,NaN,Andaman and Nicobar Islands,9.73,25,0.3,31,1.25,31,22
33,NaN,Chandigarh,10.04,24,0.3,31,11.54,29,29
34,NaN,Dadra & Nagar Haveli,-,-,1.79,25,21.88,26,23
35,NaN,Delhi,37.35,15,47.62,19,31.69,23,12
36,NaN,Daman & Diu,-,-,14.58,23,28.69,24,18
37,NaN,Lakshadweep,-,-,0.3,31,-,34,15
38,NaN,Puducherry,17.72,20,1.49,26,15.65,27,27
39,NaN,.: Not Applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Notes: 1. Scores are in per cent.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,2. State-wise score for 2019 has not been publ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,3. Ease of Doing business Index is based on th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,Source: Department of Industrial Policy and Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
data.drop(columns=['Unnamed: 0','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7'],index=[0,1,2,39,40,41,42,43],inplace=True)
data.rename(columns={'Unnamed: 1':'State','Unnamed: 8':'2019_EoDB_Ranking'},inplace=True)
data=data.reset_index(drop=True)
data.head()

               State 2019_EoDB_Ranking
0     Andhra Pradesh                 1
1  Arunachal Pradesh                29
2              Assam                20
3              Bihar                26
4       Chhattisgarh                 6

In [56]:
df=df.merge(data,on=['State'])
df

   Rank_2021       City        State 2019_EoDB_Ranking
0        158    Chennai   Tamil Nadu                14
1        170  Bengaluru    Karnataka                17
2        181    Kolkata  West Bengal                 9

In [91]:
da= pd.read_csv('D:/Corsera/IBM/10/Crime Record.txt')
da

,Index,City,2017,2018,2019,Percentage_Share_of_City,Actual_Population_(in_Lakhs)_(2011),Rate_of_Total_Cognizable_Crimes_(SLL)+
0,1,Ahmedabad,20747,23720,26693,10.4,63.5,420.2
1,2,Bengaluru,6531,9184,14603,5.7,85.0,171.8
2,3,Chennai,22378,64867,53841,21.0,87.0,619.1
3,4,Coimbatore,8675,12044,13254,5.2,21.5,616.2
4,5,Delhi,11205,11683,16439,6.4,163.1,100.8
5,6,Ghaziabad,5863,4620,4045,1.6,23.6,171.5
6,7,Hyderabad,2177,1680,2718,1.1,77.5,35.1
7,8,Indore,4004,6841,6990,2.7,21.7,322.6
8,9,Jaipur,8538,9984,9611,3.8,30.7,312.8
9,10,Kanpur,4142,4142,4498,1.8,29.2,154.0
10,11,Kochi,42482,34279,21737,8.5,21.2,1026.3
11,12,Kolkata,2044,1799,1799,0.7,141.1,12.7
12,13,Kozhikode,5847,5341,_5576,2.2,20.3,274.5
13,14,Lucknow,4436,5828,5384,2.1,29.0,185.6
14,15,Mumbai,19421,16316,20139,7.9,184.1,109.4
15,16,Nagpur,5960,6906,8092,3.2,25.0,323.9
16,17,Patna,5614,5830,5958,2.3,20.5,291.1
17,18,Pune,4028,2483,3034,1.2,50.5,60.1
18,19,Surat,17996,29218,31652,12.4,45.8,690.3

In [92]:
da.drop(columns=['Percentage_Share_of_City','Actual_Population_(in_Lakhs)_(2011)','Rate_of_Total_Cognizable_Crimes_(SLL)+','Index',"2017","2018"],inplace=True)
da.rename(columns={'2019':'Crimes_in_2019'},inplace=True)
da.head()

         City Crimes_in_2019
0   Ahmedabad          26693
1   Bengaluru          14603
2     Chennai          53841
3  Coimbatore          13254
4       Delhi          16439

In [93]:
df=df.merge(da,on=['City'])
df

   Rank_2021       City        State 2019_EoDB_Ranking Crimes_in_2019
0        158    Chennai   Tamil Nadu                14          53841
1        170  Bengaluru    Karnataka                17          14603
2        181    Kolkata  West Bengal                 9           1799

In [94]:
df['Merce_Ranking_2021']=df['Rank_2021']
df.drop(columns=['Rank_2021'],inplace=True)
df

        City        State 2019_EoDB_Ranking Crimes_in_2019  Merce_Ranking_2021
0    Chennai   Tamil Nadu                14          53841                 158
1  Bengaluru    Karnataka                17          14603                 170
2    Kolkata  West Bengal                 9           1799                 181

In [108]:
def getPincode(url):
    data  = requests.get(url).text
    soup = BeautifulSoup(data, 'html5lib')
    tables = soup.find_all('table')
    da=pd.read_html(str(tables), flavor='bs4')[0]
    da.drop(columns=['Taluk','State'],inplace=True)
    da.drop_duplicates('Pincode',inplace=True,ignore_index=True)
    return da

In [110]:
url="https://www.indiatvnews.com/pincode/west-bengal/kolkata/"
Kolkata_Pincode=getPincode(url)
Kolkata_Pincode

In [111]:
url="https://www.indiatvnews.com/pincode/tamil-nadu/chennai/"
Chnnai_Pincode=getPincode(url)
Chnnai_Pincode

                            Office District  Pincode
0                        Anna Road  Chennai   600002
1                          Chepauk  Chennai   600005
2                      Choolaimedu  Chennai   600094
3              Gopalapuram Chennai  Chennai   600086
4                      Greams Road  Chennai   600006
5              Hindi Prachar Sabha  Chennai   600017
6                    Lloyds Estate  Chennai   600014
7                   Loyola College  Chennai   600034
8                        Mandaveli  Chennai   600004
9           Pr. Accountant General  Chennai   600018
10                          Agaram  Chennai   600082
11                     Aminjikarai  Chennai   600030
12                 Anna Nagar East  Chennai   600102
13              Anna Nagar Chennai  Chennai   600040
14         Anna Nagar Western Extn  Chennai   600101
15                      Arumbakkam  Chennai   600106
16                       Aynavaram  Chennai   600023
17                         Chetput  Chennai   600031
18                      Edapalayam  Chennai   600003
19                       Egmore ND  Chennai   600008
20                   Flower Bazaar  Chennai   600001
21                    Flowers Road  Chennai   600084
22                  Fort St George  Chennai   600009
23     High Court Building Chennai  Chennai   600104
24                      Icf Colony  Chennai   600038
25         Kilpauk Medical College  Chennai   600010
26                       Koyambedu  Chennai   600107
27               Perambur Barracks  Chennai   600012
28                  Perambur North  Chennai   600011
29                       Rayapuram  Chennai   600013
30               Tondiarpet Bazaar  Chennai   600081
31                          Vepery  Chennai   600007
32             Vyasar Nagar Colony  Chennai   600039
33               Washermanpet East  Chennai   600021
34                   Adyar Chennai  Chennai   600020
35              Ashoknagar Chennai  Chennai   600083
36                     Besantnagar  Chennai   600090
37                   Ekkaduthangal  Chennai   600032
38     Engineering College Chennai  Chennai   600025
39                    Guindy North  Chennai   600015
40  Indian Institute Of Technology  Chennai   600036
41     Kalaignar Karunanidhi Nagar  Chennai   600078
42                     Kodambakkam  Chennai   600024
43                     Kotturpuram  Chennai   600085
44  Koyambedu Wholesale Market Com  Chennai   600092
45                   Mambalam R.S.  Chennai   600033
46                        Nandanam  Chennai   600035
47             Raja Annamalaipuram  Chennai   600028
48               Rajbhavan Chennai  Chennai   600022
49                      Saligramam  Chennai   600093
50                      Tidel Park  Chennai   600113
51                    Tiruvanmiyur  Chennai   600041
52                      Vadapalani  Chennai   600026
53                       Velacheri  Chennai   600042
54                    Erukkancheri  Chennai   600118

In [112]:
url="https://www.indiatvnews.com/pincode/karnataka/bangalore"
Banglore_Pincode=getPincode(url)
Banglore_Pincode

                    Office   District  Pincode
0    A F Station Yelahanka  Bangalore   560063
1                    Agram  Bangalore   560007
2             Amruthahalli  Bangalore   560092
3     Anandnagar Bangalore  Bangalore   560024
4           Arabic College  Bangalore   560045
..                     ...        ...      ...
106            Bettahalsur  Bangalore   562157
107        Chamarajasagara  Bangalore   562120
108          Chikkanahalli  Bangalore   562130
109             Dasanapura  Bangalore   562162
110            Dommasandra  Bangalore   562125

[111 rows x 3 columns]